<!DOCTYPE html>
<html lang="en">
  <title>BookStore</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <style>   
    body {
      font-family: "Lato", sans-serif;
    }
    .mySlides {
      display: none;
    }
  </style>
  <header>
    <app-header></app-header>
</header>
<body>
<!--   
    <app-catalog-list
    (catalogWasSelected)="selectedCatalog= $event"></app-catalog-list> -->
    <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
    <ng-container *ngFor="let catalogs of catalog">
        <!-- courseCountRadioButton === 'All' || courseCountRadioButton === course.type -->
        <div class="course-container" *ngIf="catalogs.title.toLowerCase().includes(searchText) ">
            <div class="course-card">
                <div>
                    <img [src]="catalogs.imagePath" style="width:220px; height:140px;">
                </div>
                <div class="course-name"><h4>{{ catalogs.title</h4></div>
                <div class="course-description"><p>{{catalogs.author}}...</p></div>
            </div>
        </div>  
    </ng-container>
</body>

  </html>
