.loader-container{
    position: absolute;
    height: 100%;
    background: white;
    opacity: 0.8;
    width: 100%;    
    z-index: 99;
    margin-top: 10%;
    
}

@media (max-width: 650px)  {
    .loader-container{
        position: absolute;
        height: 100%;
        background: white;
        opacity: 0.8;
        width: 100%;    
        z-index: 99;
        margin-top: 10%;
        
    }
  }

  @media (min-width: 700px) and (max-width:850px){
    .loader-container{
        position: absolute;
        height: 100%;
        background: white;
        opacity: 0.8;
        width: 100%;    
        z-index: 99;
        padding: 10px;
        
    }
  }

