<app-header></app-header>

<div class="bg-image" 
     style="background-image: url('https://public-assets.typeform.com/public/mega-menu/helpcenter.png');
            height: 100%;">


<div class="container"  >
    <div class="row mt-3">
      <div class="col-12 col-lg-4 offset-lg-4">
        <mat-card class="text-center"  >
          <mat-card-header style="color: black">
            <mat-card-title  > ADD TO CATALOG </mat-card-title>
            
          </mat-card-header>
          <mat-card-content>
            <app-app-books-form style="color: black;"></app-app-books-form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>

