.wrapper {
    background: white;
    padding: 10px 0;
    
    
  }
  
  .box {
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 10%;
    
    background: #fff;
    padding: 10px;
    
    color: #000;
  }
  
  .center-align {
    letter-spacing: -4px;
    text-align: center;
    font-size: 0;
  }
  
  .center-align [class*='col-'] {
    display: inline-block;
    vertical-align: top;
    letter-spacing: 0;
    font-size: 14px;
    float: none;
  }


  .cardComp {
    display: grid;
    grid-template-columns: repeat(4,20%);
    grid-gap: 60px;
    margin-top: 8%;
    margin-bottom: 30px;
    border: white;
    justify-content: center;
    font-family: "PT Serif",georgia,times,serif;
    
    background-color: white;
    align-items: stretch;
    
    
    }
    .catalog {
      border-radius: .3em;
      box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.7);
      height: auto;
  
    }
    
   

    @media (max-width: 650px)  {
      .cardComp {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        gap: 10px; 
        margin-top: 20%;
        padding-left: 20px;
        padding-right: 20px;
        }
    }

    @media (min-width: 700px) and (max-width:850px){
      .cardComp {
        display: grid;
        grid-template-columns: repeat(3, 30%);
        gap: 30px; 
        margin-top: 10%;
        padding-left: 20px;
        padding-right: 20px;
        align-items: stretch;
        justify-content: center;
        
        margin-bottom: 60%;
        }
    }
   